@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Inter, sans-serif;
    color: rgb(78, 103, 248);
    font-weight: 600;
    background-color: black;
}

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    color: rgb(47, 34, 235);
}

/* header */

#head {
    float: left;
    text-decoration: none;
    font-size: 300%;
    margin: 5px 0 0 5px;
    letter-spacing: 10px;
}

/* nav links */
#navm li {
    display: inline;
}

#navm {
    float: right;
    list-style-type: none;
    margin: 20px 20px 0 0;
    letter-spacing: 3px;
}

/* hero image */

#himg {
    height: 600px;
    width: 100%;
    background: url(../images/gaming_keyboard.jpg) no-repeat center center;
    background-size: 100%;
    
}

#himgs {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

/* about */

#about_head {
    text-align: center;
    font-size: 300%;
}

